*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: rgb(29, 29, 79);
    color: white;
}
header{
    background-color:white;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.navlist{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-item{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.nav-item:hover{
    color: orange;
}
.menu-icon{
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
}
.navbar-bottom{
 position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.navlist-bottom{
    padding: 10px;
    display: none;
    list-style: none;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}
.navbar-bottom .nav-item{
    font-size: 14px;
    display: none;
    align-items: center;
    flex-direction: column;

}
.container{
    width: 80%;
    margin: 100px auto;
    padding: 20px;
}
.product-detail{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}
.product-gallary{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 20px;
}
.thumnail{
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
.thumnail img{
    width: 80px;
}
.main-product img{
    width: 100%;
    height: 450px;
}
.relate{
    background-color: antiquewhite;
    margin-top: 30px;
}
.relate h3{
    margin-bottom: 20px;
    padding: 10px;
    border-left: 5px solid orange;
}
.relate-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.relate-card{
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.relate-card img{
    width: 100%;
}

@media (max-width: 488px){
    .container{
        width: 95%;
    }
    .navlist{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
    .navlist-bottom{
        display: flex;
    }
    .navbar-bottom .nav-item{
        display: flex;
    }
    .product-detail{
        grid-template-columns: 1fr;
    }
    .product-gallary{
        grid-template-columns: 1fr;
    }
    .thumnail{
        order: 2;
        height: auto;
        display: flex;
        direction:ltr;
        gap: 10px;
        justify-content: space-between;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .main-product{
        order: 1;
    }
    .relate-grid{
        grid-template-columns: repeat(2,1fr);
    }
}